absl-py==2.3.1
affine==2.4.0
altair==5.5.0
annotated-types==0.7.0
arcosparse==0.4.0
asciitree==0.3.3
astropy==6.1.7
astropy-iers-data==0.2025.5.19.0.38.36
asttokens==3.0.0
astunparse==1.6.3
attrs==25.3.0
backcall==0.2.0
beautifulsoup4==4.13.4
bleach==6.2.0
blinker==1.9.0
boto3==1.38.20
botocore==1.38.20
branca==0.8.1
Brotli @ file:///C:/b/abs_c415aux9ra/croot/brotli-split_1736182803933/work
cachetools==5.5.2
Cartopy==0.24.1
cdsapi==0.7.6
certifi==2025.4.26
cftime==1.6.4.post1
charset-normalizer==3.4.2
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.2
contextily==1.6.2
contourpy @ file:///C:/b/abs_f2u2o_8s9g/croot/contourpy_1732540071787/work
copernicusmarine==2.1.1
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
dask==2025.5.1
DateTime==5.5
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
docopt==0.6.2
earthengine-api==1.5.24
ecmwf-datastores-client==0.2.0
exceptiongroup==1.2.2
executing==2.2.0
fasteners==0.19
fastjsonschema==2.21.1
fiona==1.10.1
flatbuffers==25.2.10
folium==0.19.6
fonttools @ file:///C:/b/abs_4crkswws2h/croot/fonttools_1737040078745/work
fsspec==2025.5.0
gast==0.6.0
geographiclib==2.0
geopandas==1.0.1
geopy==2.4.1
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.25.1
google-api-python-client==2.176.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-cloud-core==2.4.3
google-cloud-storage==3.2.0
google-crc32c==1.7.1
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
grpcio==1.74.0
h5netcdf==1.6.1
h5py==3.13.0
httplib2==0.22.0
idna==3.10
imageio==2.37.0
importlib_metadata==8.7.0
iniconfig==2.1.0
ipykernel==6.29.5
ipython==8.12.3
ipywidgets==8.1.7
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.1
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.15
keras==2.15.0
kiwisolver @ file:///C:/b/abs_faf90xet7a/croot/kiwisolver_1737040915779/work
lazy_loader==0.4
libclang==18.1.1
locket==1.0.0
lxml==5.4.0
Markdown==3.8.2
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
mercantile==1.2.1
mistune==3.1.3
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
ml-dtypes==0.2.0
multiurl==0.3.5
narwhals==1.38.2
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
netCDF4==1.7.2
networkx==3.4.2
numcodecs==0.13.1
numpy==1.26.4
oauthlib==3.3.1
opt_einsum==3.4.0
packaging==23.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
partd==1.4.2
pickleshare==0.7.5
pillow @ file:///C:/b/abs_68t826txdy/croot/pillow_1744613085333/work
pipreqs==0.5.0
platformdirs==4.3.7
plotly==6.1.1
pluggy==1.5.0
prompt_toolkit==3.0.51
proto-plus==1.26.1
protobuf==4.25.8
psutil==7.0.0
pure_eval==0.2.3
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.11.4
pydantic_core==2.33.2
pydeck==0.9.1
pyerfa==2.0.1.5
Pygments==2.19.1
pyogrio==0.10.0
pyparsing @ file:///C:/b/abs_40z8gyj9wi/croot/pyparsing_1731445739241/work
pyproj==3.7.1
PyQt6==6.7.1
PyQt6_sip @ file:///C:/b/abs_f47pmp6xmn/croot/pyqt-split_1744804513582/work/pyqt_sip
pyshp==2.3.1
pystac==1.13.0
pytest==8.3.5
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32==310
PyYAML==6.0.2
pyzmq==26.4.0
rasterio==1.4.3
referencing==0.36.2
requests==2.32.3
requests-oauthlib==2.0.0
rioxarray==0.19.0
rpds-py==0.24.0
rsa==4.9.1
s3transfer==0.12.0
scikit-image==0.25.2
scipy==1.11.4
seaborn==0.13.2
semver==3.0.4
shapely==2.1.1
sip @ file:///C:/b/abs_5cto136kse/croot/sip_1738856220313/work
six==1.16.0
smmap==5.0.2
soupsieve==2.7
stack-data==0.6.3
streamlit==1.45.0
streamlit_folium==0.25.0
tenacity==9.1.2
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.1.0
tifffile==2025.5.10
tinycss2==1.4.0
toml==0.10.2
tomli @ file:///C:/Windows/TEMP/abs_ac109f85-a7b3-4b4d-bcfd-52622eceddf0hy332ojo/croots/recipe/tomli_1657175513137/work
toolz==1.0.0
tornado @ file:///C:/b/abs_7cyu943ybx/croot/tornado_1733960510898/work
tqdm==4.67.1
traitlets==5.14.3
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2023.3
unicodedata2 @ file:///C:/b/abs_dfnftvxi4k/croot/unicodedata2_1736543771112/work
uritemplate==4.2.0
urllib3==2.4.0
watchdog==6.0.0
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.1.3
widgetsnbextension==4.0.14
windrose==1.9.2
wrapt==1.14.2
xarray==2025.4.0
xbTools==1.0.2
xyzservices==2025.4.0
yarg==0.1.9
zarr==2.18.3
zipp==3.21.0
zope.interface==7.2
