contextily==1.6.2
folium==0.19.6
geopandas==1.0.1
matplotlib>=3.10,<3.11
numpy>=1.26,<2
pyproj==3.7.1
rasterio==1.4.3
scipy>=1.11,<1.12
Shapely==2.1.1
scikit-image>=0.19,<0.26
streamlit==1.45.0
streamlit_folium==0.25.0
tensorflow-intel==2.15.0
tqdm==4.67.1
xarray==2025.4.0
xbTools==1.0.2
xbTools==1.0.2
